<h1>Create a Meetup</h1>

<form action="/meetups/new" method="post" id="event_form">
  <label for="event_name">Event Name</label><br>
  <input type="text" name="event_name" id="event_name"/><br>
  <label for="description">Location</label><br>
  <input type="text" name="location" id="location"/><br>
  <label for="description">Description</label><br>
  <input type="text" name="description" id="description"/><br>
  <br><button type="submit" value="submit">Create New Event</button><br>
</form>

<br>

<h4>
  <a href="/">Go Back to Homepage</a>
</h4>
